---
layout: default
title: Bureaux
menu: Bas
---
<div class="timeline">
  {% assign bureaux = site.bureaux | sort: 'title' | reverse %}
  {% for bureau in bureaux %}
  <div class="timeline-item">
    <div class="timeline-date"><strong> {{ bureau.title }} </strong></div>
    <div class="timeline-content">
      <h3 class="timeline-content-title">
        {{ bureau.title }}
      </h3>
      <p class="timeline-content-author">
        {{ bureau.content }}
      </p>
    </div>
  </div>
  {% endfor %}
  <div class="timeline-item">
      <div class="timeline-date begin"><strong>???</strong></div>
  </div>
</div>
