<link rel="stylesheet" href="assets/main.css" />


{% case page.title %}
  {% when "Accueil" %}
<link rel="stylesheet" href="assets/home.css" />
  {% when "Réunion" %}
<link rel="stylesheet" href="assets/timeline.css" />
  {% when "Bureaux" %}
<link rel="stylesheet" href="assets/timeline.css" />
  {% when "Tutos" %}
<link rel="stylesheet" href="assets/tutos.css" />
{% endcase %}
