<footer>
  <div class="footer-copyright">
    <div class="container">
    Vive nous, vive {{ site.title | escape }}
      <div class="right">
        {% for page in site.pages %}
        {% if page.menu == "Bas" %}
          <li class="list-inline-item"><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
