body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #212529
  text-align: left
  background-color: #fff
  background-image: url("images/banner.jpg")

*
  box-sizing: border-box
  &::before, &::after
    box-sizing: border-box
.visible
  visibility: visible !important

.invisible
  visibility: hidden !important

body
  font-family: 'Lato'

h1, h2, h3, h4, h5, h6
  font-weight: 700
  font-family: 'Montserrat'

h1
  text-decoration: underline
  font-size: 2em

h2
  font-size: 1.5em

h3
  font-size: 1.17em

h4
  font-size: 1.12em

h5
  font-size: .83em

h6
  font-size: .75em

hr
  &.star-light, &.star-dark
    max-width: 15rem
    padding: 0
    text-align: center
    border: none
    border-top: solid 0.25rem
    margin-top: 2.5rem
    margin-bottom: 2.5rem
  &.star-light:after, &.star-dark:after
    position: relative
    top: -.8em
    display: inline-block
    padding: 0 0.25em
    content: '\f005'
    font-family: FontAwesome
    font-size: 2em
  &.star-light
    border-color: #fff
    &:after
      color: #fff
      background-color: #18BC9C
  &.star-dark
    border-color: #2C3E50
    &:after
      color: #2C3E50
      background-color: white

.btn
  border-width: 2px

.bg-secondary
  background-color: #2C3E50 !important

.text-primary
  color: #18BC9C !important

.text-secondary
  color: #2C3E50 !important

.btn-primary
  background-color: #18BC9C
  border-color: #18BC9C
  &:hover, &:focus, &:active
    background-color: #128f76
    border-color: #128f76

.btn-secondary
  background-color: #2C3E50
  border-color: #2C3E50
  &:hover, &:focus, &:active
    background-color: #1a252f
    border-color: #1a252f

.btn-more
  display: block
  width: 100px
  margin: 2em auto 1em
  text-align: center
  font-size: 12px
  color: inherit
  line-height: 1
  position: relative
  font-weight: 700
  &::after
    content: '\2192'
    opacity: 0
    position: absolute
    right: 0
    top: 50%
    -webkit-transform: translate(0, -50%)
    transform: translate(0, -50%)
    -webkit-transition: all 0.3s
    transition: all 0.3s
  &:hover::after
    -webkit-transform: translate(5px, -50%)
    transform: translate(5px, -50%)
    opacity: 1

.hide
  display: none !important

.left-align
  text-align: left

.right-align
  text-align: right

.center, .center-align
  text-align: center

.left
  float: left !important

.right
  float: right !important

.d-block
  display: block !important

.bg-primary
  background-color: var(--main) !important
  padding: 2em

li
  list-style: none

/*sub
  margin: 35px
  padding: 10px
  font-size: 12px
  line-height: 12px
  text-decoration: none
  font-weight: 300
  color: var(--text-main)
  text-align: right
  border: 1px solid var(--text-main)*/

a
  text-decoration: none
  color: inherit
  &:focus, &:hover, &:active, &:visited, &:checked, &:link
    color: inherit

.wrapper
  padding-left: 18px
  padding-right: 18px
  margin-left: auto
  margin-right: auto
  margin-top: 50px
  max-width: 1236px
  .post
    max-width: 720px
    text-align: left
    position: relative
    margin: auto

.container, .container-fluid
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto

@media (min-width: 576px)
  .container
    max-width: 540px

@media (min-width: 768px)
  .container
    max-width: 720px

@media (min-width: 992px)
  .container
    max-width: 960px

@media (min-width: 1200px)
  .container
    max-width: 1140px

.list-inline
  padding: 0
  list-style: none

.list-inline-item
  display: inline-block
  &:not(:last-child)
    margin-right: 0.5rem

.container .row
  margin-left: -0.75rem
  margin-right: -0.75rem

.row
  margin-left: auto
  margin-right: auto
  margin-bottom: 50px
  margin-top: 0px
  &:after
    content: ""
    display: table
    clear: both
  .col
    float: left
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 0 0.75rem
    min-height: 1px
    &[class*="push-"], &[class*="pull-"]
      position: relative
    &.s1
      width: 8.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.s2
      width: 16.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.s3
      width: 25%
      margin-left: auto
      left: auto
      right: auto
    &.s4
      width: 33.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.s5
      width: 41.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.s6
      width: 50%
      margin-left: auto
      left: auto
      right: auto
    &.s7
      width: 58.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.s8
      width: 66.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.s9
      width: 75%
      margin-left: auto
      left: auto
      right: auto
    &.s10
      width: 83.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.s11
      width: 91.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.s12
      width: 100%
      margin-left: auto
      left: auto
      right: auto
    &.offset-s1
      margin-left: 8.3333333333%
    &.pull-s1
      right: 8.3333333333%
    &.push-s1
      left: 8.3333333333%
    &.offset-s2
      margin-left: 16.6666666667%
    &.pull-s2
      right: 16.6666666667%
    &.push-s2
      left: 16.6666666667%
    &.offset-s3
      margin-left: 25%
    &.pull-s3
      right: 25%
    &.push-s3
      left: 25%
    &.offset-s4
      margin-left: 33.3333333333%
    &.pull-s4
      right: 33.3333333333%
    &.push-s4
      left: 33.3333333333%
    &.offset-s5
      margin-left: 41.6666666667%
    &.pull-s5
      right: 41.6666666667%
    &.push-s5
      left: 41.6666666667%
    &.offset-s6
      margin-left: 50%
    &.pull-s6
      right: 50%
    &.push-s6
      left: 50%
    &.offset-s7
      margin-left: 58.3333333333%
    &.pull-s7
      right: 58.3333333333%
    &.push-s7
      left: 58.3333333333%
    &.offset-s8
      margin-left: 66.6666666667%
    &.pull-s8
      right: 66.6666666667%
    &.push-s8
      left: 66.6666666667%
    &.offset-s9
      margin-left: 75%
    &.pull-s9
      right: 75%
    &.push-s9
      left: 75%
    &.offset-s10
      margin-left: 83.3333333333%
    &.pull-s10
      right: 83.3333333333%
    &.push-s10
      left: 83.3333333333%
    &.offset-s11
      margin-left: 91.6666666667%
    &.pull-s11
      right: 91.6666666667%
    &.push-s11
      left: 91.6666666667%
    &.offset-s12
      margin-left: 100%
    &.pull-s12
      right: 100%
    &.push-s12
      left: 100%

@media only screen and (min-width: 601px)
  .row .col
    &.m1
      width: 8.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.m2
      width: 16.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.m3
      width: 25%
      margin-left: auto
      left: auto
      right: auto
    &.m4
      width: 33.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.m5
      width: 41.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.m6
      width: 50%
      margin-left: auto
      left: auto
      right: auto
    &.m7
      width: 58.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.m8
      width: 66.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.m9
      width: 75%
      margin-left: auto
      left: auto
      right: auto
    &.m10
      width: 83.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.m11
      width: 91.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.m12
      width: 100%
      margin-left: auto
      left: auto
      right: auto
    &.offset-m1
      margin-left: 8.3333333333%
    &.pull-m1
      right: 8.3333333333%
    &.push-m1
      left: 8.3333333333%
    &.offset-m2
      margin-left: 16.6666666667%
    &.pull-m2
      right: 16.6666666667%
    &.push-m2
      left: 16.6666666667%
    &.offset-m3
      margin-left: 25%
    &.pull-m3
      right: 25%
    &.push-m3
      left: 25%
    &.offset-m4
      margin-left: 33.3333333333%
    &.pull-m4
      right: 33.3333333333%
    &.push-m4
      left: 33.3333333333%
    &.offset-m5
      margin-left: 41.6666666667%
    &.pull-m5
      right: 41.6666666667%
    &.push-m5
      left: 41.6666666667%
    &.offset-m6
      margin-left: 50%
    &.pull-m6
      right: 50%
    &.push-m6
      left: 50%
    &.offset-m7
      margin-left: 58.3333333333%
    &.pull-m7
      right: 58.3333333333%
    &.push-m7
      left: 58.3333333333%
    &.offset-m8
      margin-left: 66.6666666667%
    &.pull-m8
      right: 66.6666666667%
    &.push-m8
      left: 66.6666666667%
    &.offset-m9
      margin-left: 75%
    &.pull-m9
      right: 75%
    &.push-m9
      left: 75%
    &.offset-m10
      margin-left: 83.3333333333%
    &.pull-m10
      right: 83.3333333333%
    &.push-m10
      left: 83.3333333333%
    &.offset-m11
      margin-left: 91.6666666667%
    &.pull-m11
      right: 91.6666666667%
    &.push-m11
      left: 91.6666666667%
    &.offset-m12
      margin-left: 100%
    &.pull-m12
      right: 100%
    &.push-m12
      left: 100%

@media only screen and (min-width: 993px)
  .row .col
    &.l1
      width: 8.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.l2
      width: 16.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.l3
      width: 25%
      margin-left: auto
      left: auto
      right: auto
    &.l4
      width: 33.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.l5
      width: 41.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.l6
      width: 50%
      margin-left: auto
      left: auto
      right: auto
    &.l7
      width: 58.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.l8
      width: 66.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.l9
      width: 75%
      margin-left: auto
      left: auto
      right: auto
    &.l10
      width: 83.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.l11
      width: 91.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.l12
      width: 100%
      margin-left: auto
      left: auto
      right: auto
    &.offset-l1
      margin-left: 8.3333333333%
    &.pull-l1
      right: 8.3333333333%
    &.push-l1
      left: 8.3333333333%
    &.offset-l2
      margin-left: 16.6666666667%
    &.pull-l2
      right: 16.6666666667%
    &.push-l2
      left: 16.6666666667%
    &.offset-l3
      margin-left: 25%
    &.pull-l3
      right: 25%
    &.push-l3
      left: 25%
    &.offset-l4
      margin-left: 33.3333333333%
    &.pull-l4
      right: 33.3333333333%
    &.push-l4
      left: 33.3333333333%
    &.offset-l5
      margin-left: 41.6666666667%
    &.pull-l5
      right: 41.6666666667%
    &.push-l5
      left: 41.6666666667%
    &.offset-l6
      margin-left: 50%
    &.pull-l6
      right: 50%
    &.push-l6
      left: 50%
    &.offset-l7
      margin-left: 58.3333333333%
    &.pull-l7
      right: 58.3333333333%
    &.push-l7
      left: 58.3333333333%
    &.offset-l8
      margin-left: 66.6666666667%
    &.pull-l8
      right: 66.6666666667%
    &.push-l8
      left: 66.6666666667%
    &.offset-l9
      margin-left: 75%
    &.pull-l9
      right: 75%
    &.push-l9
      left: 75%
    &.offset-l10
      margin-left: 83.3333333333%
    &.pull-l10
      right: 83.3333333333%
    &.push-l10
      left: 83.3333333333%
    &.offset-l11
      margin-left: 91.6666666667%
    &.pull-l11
      right: 91.6666666667%
    &.push-l11
      left: 91.6666666667%
    &.offset-l12
      margin-left: 100%
    &.pull-l12
      right: 100%
    &.push-l12
      left: 100%

@media only screen and (min-width: 1201px)
  .row .col
    &.xl1
      width: 8.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.xl2
      width: 16.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.xl3
      width: 25%
      margin-left: auto
      left: auto
      right: auto
    &.xl4
      width: 33.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.xl5
      width: 41.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.xl6
      width: 50%
      margin-left: auto
      left: auto
      right: auto
    &.xl7
      width: 58.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.xl8
      width: 66.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.xl9
      width: 75%
      margin-left: auto
      left: auto
      right: auto
    &.xl10
      width: 83.3333333333%
      margin-left: auto
      left: auto
      right: auto
    &.xl11
      width: 91.6666666667%
      margin-left: auto
      left: auto
      right: auto
    &.xl12
      width: 100%
      margin-left: auto
      left: auto
      right: auto
    &.offset-xl1
      margin-left: 8.3333333333%
    &.pull-xl1
      right: 8.3333333333%
    &.push-xl1
      left: 8.3333333333%
    &.offset-xl2
      margin-left: 16.6666666667%
    &.pull-xl2
      right: 16.6666666667%
    &.push-xl2
      left: 16.6666666667%
    &.offset-xl3
      margin-left: 25%
    &.pull-xl3
      right: 25%
    &.push-xl3
      left: 25%
    &.offset-xl4
      margin-left: 33.3333333333%
    &.pull-xl4
      right: 33.3333333333%
    &.push-xl4
      left: 33.3333333333%
    &.offset-xl5
      margin-left: 41.6666666667%
    &.pull-xl5
      right: 41.6666666667%
    &.push-xl5
      left: 41.6666666667%
    &.offset-xl6
      margin-left: 50%
    &.pull-xl6
      right: 50%
    &.push-xl6
      left: 50%
    &.offset-xl7
      margin-left: 58.3333333333%
    &.pull-xl7
      right: 58.3333333333%
    &.push-xl7
      left: 58.3333333333%
    &.offset-xl8
      margin-left: 66.6666666667%
    &.pull-xl8
      right: 66.6666666667%
    &.push-xl8
      left: 66.6666666667%
    &.offset-xl9
      margin-left: 75%
    &.pull-xl9
      right: 75%
    &.push-xl9
      left: 75%
    &.offset-xl10
      margin-left: 83.3333333333%
    &.pull-xl10
      right: 83.3333333333%
    &.push-xl10
      left: 83.3333333333%
    &.offset-xl11
      margin-left: 91.6666666667%
    &.pull-xl11
      right: 91.6666666667%
    &.push-xl11
      left: 91.6666666667%
    &.offset-xl12
      margin-left: 100%
    &.pull-xl12
      right: 100%
    &.push-xl12
      left: 100%

@media only screen and (max-width: 768px)
  [class*="col-"]
    width: 100% !important
