footer
  padding: 20px
  color: var(--text-light)
  background-color: var(--text-main)
  display: block
  .footer-copyright
    overflow: hidden
    min-height: 50px
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    padding: 10px 0px
    color: rgba(255, 255, 255, 0.8)
    background-color: rgba(51, 51, 51, 0.08)

.scroll-to-top
  position: fixed
  bottom: 40px

  left: -moz-calc(50% - 18px)
  /* WebKit */
  left: -webkit-calc(50% - 18px)
  /* Opera */
  left: -o-calc(50% - 18px)
  /* Standard */
  left: calc(50% - 18px)

  z-index: 20

  text-align: center

  padding: 20px
  border-top-right-radius: 20px
  border-top-left-radius: 20px
  border-bottom-right-radius: 20px
  border-bottom-left-radius: 20px
  -moz-border-radius: 20px 20px 20px 20px
  -webkit-border-radius: 20px 20px 20px 20px
  -khtml-border-radius: 20px 20px 20px 20px

  color: #333333
  background-color: rgba(0, 0, 0, .3)

  margin: 0 5px 0 0
  cursor: pointer
  transition: 0.5s
  -moz-transition: 0.5s
  -webkit-transition: 0.5s
  -o-transition: 0.5s

  i
    font-size: 20px
    position: absolute
    left: 11px
    top: 10px

  &:hover
    background-color: #262626
    color: #ddd
    transition: 0.5s
    -moz-transition: 0.5s
    -webkit-transition: 0.5s
    -o-transition: 0.5s
    -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8))
    -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8))
    -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8))
    -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8))
    filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8))
