header
  padding-top: calc(4rem + 15px)
  padding-bottom: 4rem
  background-color: #ffffff99
  height: 100%
  color: var(--text-main) !important
  font-size: 30px
  overflow: hidden
  h1
    font-size: 3rem
    line-height: 3rem
    text-transform: uppercase
    margin-bottom: 0

  h2
    font-size: 1.3rem
    font-family: 'Lato'
    text-transform: uppercase
    margin-bottom: 0

  img
    display: block !important
    padding: 2.5em
    max-width: 100%
    height: auto
    margin-bottom: 5px

  svg
    display: block !important
    padding: 2.5em
    max-width: 80%
    height: auto
    margin-bottom: 5px
    margin: auto

menu
  padding-left: 0
  list-style: none
  li
    display: inline-block
    padding: 15px

social li .fa
  font-size: 30px !important
  &:hover
    color: var(--text-light)

menu li:hover
  color: var(--text-light)


@media (min-width: 950px)
  header
    padding-top: calc(4rem + 5px)
    padding-bottom: 5rem
    width: 50%
    margin-left: auto
    margin-right: auto
    h1
      font-size: 4em
      line-height: 3.75rem

    h2
      font-size: 1.75em


  menu li + li
    border-left: 2px solid var(--text-main)

@media (max-height:740px)
  header
    font-size: 15px
    padding-top: calc(2rem + 5px)
    padding-bottom: 2rem
    height: 110%
    svg
      width: 75%
      padding: 0.5em
  social
    visibility: hidden

@media (max-width: 950px)
  menu
    padding-left: 0
    list-style: none
    li
      display: inline-block
      padding: 15px
      border-bottom: 2px solid var(--text-main)


  header img
    padding: 0.5em
  header svg
    padding: 0.5em

.menu-active
  font-weight: bold


.bg-primary
  border-top: 4px solid var(--text-main)
