---
---
.row
  max-width: 900px
  
.card
  a
    text-decoration: none

  margin-bottom: 1.5rem
  padding: 0 1.7rem
  width: 40%
  text-align: left
  .menu-content
    margin: 0
    padding: 0
    list-style-type: none
    &::before
      content: ''
      display: table

    &::after
      content: ''
      display: table
      clear: both

    li
      display: inline-block

    a
      color: #fff

    span
      position: absolute
      right: 0%
      top: 0
      font-size: 10px
      font-weight: 700
      font-family: 'Open Sans'
      -webkit-transform: translate(-50%, 0)
      transform: translate(-50%, 0)


  .wrap
    border-radius: 2%
    background-color: #fff
    min-height: 380px
    position: relative
    overflow: hidden
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2)
    &:hover .data
      -webkit-transform: translateY(0)
      transform: translateY(0)


  .data
    position: absolute
    bottom: 0
    width: 100%
    -webkit-transform: translateY(calc(70px + 1em))
    transform: translateY(calc(70px + 1em))
    -webkit-transition: -webkit-transform 0.3s
    transition: -webkit-transform 0.3s
    transition: transform 0.3s
    transition: transform 0.3s, -webkit-transform 0.3s
    .content
      padding: 1em
      position: relative
      z-index: 1


  .author
    font-size: 12px
    text-align: right
    float: right

  .title
    margin-top: 10px
    border-bottom: 2px solid #333

  .text
    height: 70px
    margin: 0

.tutos-card .wrap
  background: url(https://orig00.deviantart.net/bc7b/f/2018/058/8/6/ci_by_cylyc-dc4h39g.png) (center / cover) no-repeat

.card img
  object-fit: cover
  position: absolute
  width: 100%
  height: 100%

.tutos-card
  .wrap:hover .menu-content span
    -webkit-transform: translate(-50%, -10px)
    transform: translate(-50%, -10px)
    opacity: 1

  .header
    color: #fff
    padding: 1em
    &::before
      content: ''
      display: table

    &::after
      content: ''
      display: table
      clear: both

    .date
      float: left
      font-size: 12px


  .menu-content
    float: left
    li
      margin: 0 5px
      position: relative

    span
      -webkit-transition: all 0.3s
      transition: all 0.3s
      opacity: 0


  .data
    color: #333
    background-color: #ffffffcc
    -webkit-transform: translateY(calc(70px + 4em))
    transform: translateY(calc(70px + 4em))

  .title a
    color: inherit

  .button
    display: block
    width: 100px
    margin: 2em auto 1em
    text-align: center
    font-size: 12px
    color: inherit
    line-height: 1
    position: relative
    font-weight: 700
    &::after
      content: '\2192'
      opacity: 0
      position: absolute
      right: 0
      top: 50%
      -webkit-transform: translate(0, -50%)
      transform: translate(0, -50%)
      -webkit-transition: all 0.3s
      transition: all 0.3s

    &:hover::after
      -webkit-transform: translate(5px, -50%)
      transform: translate(5px, -50%)
      opacity: 1

@media only screen and (max-width: 768px)
  [class*="col-"]
    width: 100% !important

  .card
    padding: 0 1.7rem
    width: 100% !important
    .wrap
      border-radius: 1.2%
      background-color: #fff
      min-height: 250px

    .data
      position: absolute
      bottom: 0
      width: 100%

    .text
      height: 70px
      margin: 0
